/* CSS Document */
.mrg-tp-30 {
	margin-top: 30px !important;
}
.container {
	/*max-width: 1000px;*/
}
.search-block {
	background: #eaeaea;
	padding: 20px 0px;
}
.form-group {
	margin-bottom: 5px !important;
	margin-right: 0px !important;
	margin-left: 0px !important;
}
.form-control {
	border-radius: 0px !important;
	border-color: #cccccc;
}
.input-group-addon {
	border-radius: 0px !important;
}
.btn {
	border-radius: 0px !important;
}
.btn-primary {
	background: #79aa1d;
	border: none !important;
	border-bottom: 2px solid #54801f !important;
}
.btn-blue{
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-tag{
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  margin-right: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn-primary:hover, .btn-primary:focus {
	background: #54801f;
}
.form-control:focus {
	border-color: #1f396c;
	outline: 0;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
.sec-tp {
	margin: 20px 0px 20px;
}
.breadcrumb {
	margin-bottom: 20px;
	border-radius: 0px !important;
}
.m-title {
	color: #1f396c;
	font-weight: 300;
	margin: 0px 0px 20px;
}
.mini-search .form-group {
	margin-right: auto;
}
.link-section {
	margin: 0px 0px 50px;
}
.n-title {
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	border-bottom: 2px solid #abdff3;
	padding: 10px 0px;
	display: inline-block;
}
.links-four {
	background: #f5f5f5;
	padding: 20px 0px;
	font-family: 'Roboto', sans-serif;
}
ul.anc-link {
	margin: 0;
	list-style: none;
}
ul.anc-link li {
	font-family: 'Roboto', sans-serif;
	padding: 3px 0px;
}
ul.anc-link li a {
	color: #1f396c;
	font-size: 13px !important;
}
ul.anc-link li a:hover {
	text-decoration: underline;
}
.anc-button-section {
	padding-left: 35px;
	margin: 10px 0px 0px;
}
.two-column {
	margin: 50px 0px;
}
.law-map {
	margin: 10px 0px;
}
ul.citi-link {
	margin: 10px 0px 0px;
	padding: 0;
	list-style: none;
}
ul.citi-link li {
	font-family: 'Roboto', sans-serif;
	padding: 4px 0px;
}
ul.citi-link li a i {
	padding-right: 5px;
	font-size: 15px;
	color: #cccccc;
}
ul.citi-link li a {
	color: #1f396c;
	font-size: 14px !important;
	font-weight: 500;
}
ul.citi-link li a:hover {
	color: #2b2b2b;
}
ul.citi-link li a i.orange {
	color: #ea6323;
}
ul.citi-link li a i.blue {
	color: #00afdb;
}
ul.citi-link li a i.green {
	color: #52a304;
}
ul.citi-link li a i.deepblue {
	color: #00447c;
}
.map-section {
	margin: 00px 0px 50px;
}
.o-title {
	color: #2b2b2b;
	font-weight: 500;
	margin: 0px 0px 20px;
	border-bottom: 1px solid #abdff3;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	padding-bottom: 10px;
}
ul.fin-profile li {
	padding-bottom: 5px;
	border-bottom: 1px dashed #999999;
	padding: 20px 0px;
}
ul.fin-profile li:last-child {
	border-bottom: none;
}
.fin-text blockquote {
	padding: 10px 0 0px 20px;
}
.fin-text blockquote p {
	font-size: 13px;
	font-family: 'Roboto', sans-serif;
}
.fin-text blockquote p a {
	font-size: 13px;
	font-family: 'Roboto', sans-serif;
	color: #52a304;
}
.pro-foto {
	width: 70px;
}
.pro-detail {
	width: 220px;
}
.pro-detail h3 {
	color: #00447c;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
}
.pro-detail p.help-block {
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
}
.pro-detail p.quickr-rat {
	font-size: 13px;
	font-family: 'Roboto', sans-serif;
	color: #2b2b2b;
	margin: -5px 0px 0px 0px;
}
p.rating i {
	color: #ffba00;
}
p.rating span a {
	color: #1f396c;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
}
p.rating span a:hover {
	color: #2b2b2b;
}
.three-column a.btn {
	font-size: 13px;
}
.dyk {
	margin: 50px 0px 30px;
	padding: 70px 0px;
	border-top: 1px solid #d7dadd;
	border-bottom: 1px solid #d7dadd;
	background: #f9f9f9;
}
.dyk h2 {
	color: #00447c;
	font-size: 36px;
	padding-bottom: 10px;
	font-weight: 300;
}
.dyk p {
	font-family: 'Roboto', sans-serif;
	line-height: 24px;
	font-size: 16px;
}
.citi-bg {
	background: url(../images/Chicago-Skyline.jpg) no-repeat center;
	background-size: cover;
}
.citi-info {
	background: #79aa1d;
	padding: 40px;
}
.citi-info h2 {
	font-size: 28px;
	color: #fff;
	padding-bottom: 20px;
}
.citi-info h2 span {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}
.citi-info p {
	font-family: 'Roboto', sans-serif;
	margin-bottom: 20px;
	font-size: 13px;
	color: #fff;
}
.atto-section {
	margin: 30px 0px 50px;
}
.filters {
	margin-bottom: 20px;
}
.filters p a {
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	color: #79aa1d;
	font-weight: 500;
}
.p-title {
	color: #1f396c;
	font-weight: 300;
	margin: 0px 0px 20px;
	font-size: 30px;
}
.p-title span {
	font-size: 20px;
	color: #F90;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
}
.profile-container ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.profile-container ul li {
	border-bottom: 1px dashed #999999;
	padding: 20px 0px;
}
.profile-container ul li:first-child {
	padding-top: 0px;
}
.profile-container ul li:last-child {
	border-bottom: none;
	padding-bottom: 40px;
}
.pro-descript h3, .pro-descript h3 a {
	color: #00447c;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	padding-bottom: 5px;
}
.pro-descript h3 a:hover {
	text-decoration: none;
}
.pro-descript p {
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0px 0px 5px;
}
.pro-descript p a {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	color: #79aa1d;
}
.pro-descript p a:hover {
	color: #2b2b2b;
}
.pro-descript p i {
	font-size: 15px;
}
.pro-rating h3 {
	font-size: 14px;
	line-height: 20px;
}
.pro-rating p strong {
	color: #00447c;
	font-size: 24px;
	line-height: 30px;
}
.pro-rating p span a {
	color: #79aa1d;
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
}
.pro-rating p span a:hover {
	text-decoration: underline;
}
.info-desc {
	margin: 30px 0px;
	padding: 10px;
	background: #f5f5f5;
}
.info-desc p {
	font-size: 13px;
	margin: 0;
	padding: 0;
	line-height: 20px;
}
.form-container {
	margin: 20px 0px 50px;
}
.no-mrg-btm {
	margin-bottom: 0px;
}
.cust-forms .form-group {
	margin-bottom: 20px !important;
}
.prof-container-box {
	max-width: 800px;
}
.pro-top-control {
	padding: 8px 0px;
	border-top: 1px solid #d7dadd;
	border-bottom: 1px solid #d7dadd;
	margin-bottom: 20px;
}
.pro-top-control > div > a:hover {
	color: #79aa1d;
}
.pro-top-control > div > a:focus {
	color: #79aa1d;
}
.pro-box-view h2 {
	color: #2b2b2b;
	font-weight: 500;
	margin: 0px 0px 10px;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
}
.pro-box-view h2 span {
	color: #fe9a23;
	font-weight: 500;
	font-size: 16px;
}
.img-box i {
	font-size: 160px;
	color: #e8e9eb;
}
.main-profile-edit {
	margin: 20px 0px 50px;
}
.pro-p-box {
	margin-bottom: 40px;
}
.pro-box-view h2 span a i {
	color: #fe9a23;
	margin-left: 10px;
	font-size: 20px;
}
.pro-box-view h2 span a:hover i {
	color: #2b2b2b;
}
.sm-form .form-group { margin-bottom:15px !important;}
label { font-weight:300;}
.sm-form .form-group label span { color:#ff0000 !important; margin-left:5px;}
.small-forms {margin: 20px 0px 50px;}
.flow-box h3{ border-bottom:1px solid #d7dadd; padding-bottom:10px; margin-bottom:20px; font-family: 'Roboto', sans-serif; font-size:18px; font-weight:500;}
.flow-box form .form-group {margin-bottom:15px !important;}

.form-flow {margin: 20px 0px 50px;}
.grid-area {margin: 20px 0px 50px;}
.grid-box h2 {border-bottom:1px solid #d7dadd; padding-bottom:10px; margin-bottom:20px; font-family: 'Roboto', sans-serif; font-size:18px; font-weight:500;}
.grid-box h2 a { float:right; color: #fe9a23; font-size: 14px;}
.grid-box table { margin:30px 0px;}

.endorse { margin: 20px 0px 50px;}
.endorse h3 {border-bottom:1px solid #d7dadd; padding-bottom:10px; margin-bottom:20px; font-family: 'Roboto', sans-serif; font-size:18px; font-weight:500;}

.endorse form .form-group { margin-bottom:15px !important;}
.endorse form .form-group label { font-weight:500; margin-bottom:5px;}
.endorse form .form-group p.help-block { margin:0px;}
.three-box {}

.three-box h3{ border-bottom:1px solid #d7dadd; padding-bottom:10px; margin-bottom:20px; font-family: 'Roboto', sans-serif; font-size:18px; font-weight:500;}
.three-box form { margin-bottom:30px;}
.three-box form .form-group {margin-bottom:15px !important;}
.three-box form .form-group label { font-weight:500; margin-bottom:2px !important;}
.three-box form .form-group label span { color:#ff0000; font-size:13px; margin-left:5px;}
.three-box form .form-group p { margin:0;}